@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.button a {
  margin: 5px 0.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  color: white;
}

header {
  margin-bottom: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 3rem;
  z-index: 99;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #6070ff;
  animation: rotate 1s  1s 1;
  transform-origin: left;
}

.menu {
  background-color: #6070ffd4;
  backdrop-filter: blur(5px);
  left: -100%;
  top: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  padding: 1rem;
  display: block;
  transition: 0.5s all;
}

.menu img {
  width: 20px;
  position: absolute;
  right: 12%;
}

.menu ul {
  display: block;
  padding-top: 3rem;
}

.menu li {
  list-style: none;
  margin: 1rem 0;
}

.absolute {
  left: 0;
}

.header {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0;
  margin-top: 3rem;
  border-bottom-left-radius: 80px;
}

.header h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
  padding: 0 1rem;
}

.header p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 1rem;
}

.socials {
  margin: 5px 0;
}

.socials h3 {
  color: #7f8cff;
  font-size: 16px;
  text-transform: uppercase;
  margin: 1rem 0;
}

.header h3 {
  padding: 0 1rem;
}

.socials li {
  list-style: none;
}

.links {
  display: flex;
  align-items: center;
}

.header .links {
  padding: 0 1rem;
}

.links li {
  margin-right: 10px;
}

.links img {
  width: 100%;
  padding: 5px;
}

/***************** The project sections styles ***************/

#projects {
  width: 90%;
  margin: 5px auto;
  display: grid;
  margin-bottom: 3rem;
}

.project {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.project img {
  width: 100%;
  transition: 0.3s linear;
}

.content {
  text-decoration: none;
  color: #344563;
  padding: 10px;
}

.top {
  display: flex;
  flex-direction: column;
}

.content h2 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #172b4d;
}

.content ul {
  display: flex;
  align-items: center;
}

.content li {
  margin-right: 1rem;
  margin-bottom: 10px;
  font-size: 13px;
  color: #7a869a;
  list-style-position: inside;
  text-transform: capitalize;
  font-weight: 400;
}

.content p {
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 400;
}

.content .dark {
  list-style: none;
  color: black;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.stack {
  display: flex;
  margin-bottom: 0.7rem;
}

.stack li {
  color: #6070ff;
  font-size: 15px;
  background-color: #ebebff;
  list-style: none;
  padding: 5px 8px;
  border-radius: 5px;
  text-transform: capitalize;
}

.btn {
  margin: 0.7rem 0;
  color: #396df2;
  outline: none;
  background: transparent;
  font-size: 17px;
  padding: 5px;
  border: 1px solid #396df2;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s linear;
}

.btn:enabled {
  color: #6070ff;
  background-color: white;
  border: 1px solid #6070ff;
}

.btn:disabled {
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #5e6c84;
}

.btn:active {
  background-color: #2230d2;
  color: white;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.btn:focus {
  background-color: #6070ff;
  color: white;
}

.button img {
  margin-left: 0.5rem;
}

.image img:hover {
  transform: scale(1.05);
}

.project:hover {
  box-shadow: 1px 1px 2px 2px #396df2;
}

.desktop {
  display: none;
}

/***************** The project sections styles ***************/

/************** the about style *******************/

.general {
  background-color: white;
  border-top-right-radius: 5rem;
}

#about {
  padding: 5rem 1rem;
}

#about h1 {
  text-transform: capitalize;
  margin-bottom: 0.7rem;
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
}

#about h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}

.dropdown p {
  margin: 0 1rem;
}

#about p {
  font-size: 16px;
}

.ability li {
  list-style: none;
  border-bottom: 1px solid #dfe1e6;
  padding: 1.2rem 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ability .dropdown li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f7f7f9;
  border-radius: 7px;
  padding: 5px;
}

/************** the about style *******************/

#contact {
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
  background-position: right;
  background-position-y: top;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 7rem;
  padding: 0.5rem 1rem;
}

#contact h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1.2rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 5rem;
}

#contact p {
  font-size: 20px;
  margin-bottom: 1.2rem;
  text-align: center;
  transition: 0.3s linear;
}

#contact form {
  margin: 1.2rem 0;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

#contact textarea {
  height: 150px;
  resize: none;
}

#contact button {
  padding: 13px;
  outline: none;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 7px;
  text-align: center;
}

#contact p:hover {
  transform: translateX(10px);
}

#contact input:focus,
#contact textarea:focus {
  outline-color: #396df2;
}

.popup {
  background-color: #c1c7d069;
  backdrop-filter: blur(5px);
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  z-index: 99;
  transition: 0.5s all;
}

.show {
  right: 0;
}

.popup .content {
  background-color: white;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
}

.popup .content .image {
  width: 100%;
}

.popup .content .image img {
  width: 100%;
}

.content #cancel-port {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.content .button {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid #ebecf0;
}

@keyframes rotate {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media (min-width: 786px) {
  nav {
    padding: 25px 155px;
  }

  /********* menu pop-up ********/
  .menu {
    position: unset;
    background-color: transparent;
    backdrop-filter: unset;
    height: unset;
    width: auto;
    padding: 0;
  }

  .menu ul {
    display: flex;
    padding-top: 0;
  }

  .menu img {
    display: none;
  }

  .menu li {
    list-style: none;
    margin-right: 10px;
  }

  .button a {
    padding: 3px 5px;
    font-size: 12px;
    margin: 5px;
    width: 100%;
  }

  .menu li a {
    text-decoration: none;
    color: #172b4d;
    font-weight: 500;
    padding: 5px;
    text-transform: capitalize;
    font-size: 15px;
  }

  .menu-bar {
    display: none;
  }

  /********* header section ********/

  .header {
    background-image: url(images/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 260px;
    background-position: center;
  }

  .header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .header p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  #projects {
    padding: 3rem;
    width: 80%;
  }

  .project {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .inverse {
    flex-direction: row-reverse;
  }

  .project .image {
    width: 49%;
  }

  .image img {
    width: 100%;
  }

  .project .content {
    width: 49%;
  }

  .content .top,
  .content .mid {
    margin-bottom: 1rem;
  }

  .top h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .project .dark {
    font-size: 18px;
  }

  .stack li {
    font-size: 13px;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /*********** about ******************/

  #about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
  }

  #about .main {
    width: 48%;
  }

  .ability {
    width: 50%;
  }

  .popup .content .top h2 {
    margin: 0;
    line-height: unset;
    font-size: 30px;
  }

  .content .bottom p {
    font-size: 12px;
  }

  #contact h2,
  #contact p,
  #contact form {
    width: 40%;
    margin: 1rem auto;
    text-align: center;
  }

  #about .main p {
    font-size: 16px;
    margin-right: 1rem;
  }

  /********** contact **********/

  #contact {
    background-size: 100%;
    background-image: url(images/contact\ form\ background\ shapes.svg);
  }

  /********** contact **********/

  /*************** desktop popup ************/

  .popup {
    position: fixed;
    height: 100%;
    padding: 0.5rem 0;
  }

  .popup .content .image {
    height: 90%;
  }

  .button img {
    margin-left: 5px;
  }

  .popup .content .image img {
    width: 100%;
  }

  .popup .image img:hover {
    transform: none;
  }

  .popup .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .popup .content .top {
    margin: 5px 0;
  }

  .content .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .content .bottom ul {
    flex-wrap: wrap;
  }

  .bottom .words {
    width: 63%;
  }

  .bottom .other {
    width: 35%;
  }

  .popup .stack li {
    font-size: 12px;
  }
}
